@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0}
body{font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
img{border:0;display:block;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight: 100;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
.clearfix:after{content:".";clear: both;display:block;height:0;overflow:hidden;visibility: hidden;}
.top-con,.nav-con{width:1223px;margin:0 auto;}
/*top*/
#top{height:110px;background:#313131;}
.top-con{height:110px;}
.top-con h1{height:110px;width:261px;float:left;}
.nav{width:962px;height:110px;float:right;}
.nav li{float:left;}
.nav li a{color:#fff;height:110px;font-size:22px;font-weight:900;line-height:110px;text-align:center;padding:0 19px;}
.nav li:hover{background:#6e6e6e;}
/*nav*/
#nav{height:71px;background:#e7e7e7;border-bottom:1px solid #b7b7b7;}
.nav-con{height:71px;}
.nav-con ul{height:32px;padding-top:39px;}
.nav-con ul li{float:left;margin-right:41px;}
.nav-con ul li a{display:block;height:31px;font-size:14px;line-height:31px;padding:0 16px;background:#dadada;border:1px solid #b7b7b7;color:#666;}
.nav-con ul li a:hover{background:#f6f6f6;border-bottom:0;margin-top:1px;}
